[submodule "docker-alpine-glibc"]
	path = docker-alpine-glibc
	url = git@github.com:ci-and-cd/docker-alpine-glibc.git
[submodule "docker-alpine-gradle"]
	path = docker-alpine-gradle
	url = git@github.com:ci-and-cd/docker-alpine-gradle.git
[submodule "docker-alpine-locale"]
	path = docker-alpine-locale
	url = git@github.com:ci-and-cd/docker-alpine-locale.git
[submodule "docker-alpine-maven"]
	path = docker-alpine-maven
	url = git@github.com:ci-and-cd/docker-alpine-maven.git
[submodule "docker-bionic-locale"]
	path = docker-bionic-locale
	url = git@github.com:ci-and-cd/docker-bionic-locale.git
[submodule "docker-bionic-nvm-node"]
	path = docker-bionic-nvm-node
	url = git@github.com:ci-and-cd/docker-bionic-nvm-node.git
[submodule "docker-bionic-pyenv-python"]
	path = docker-bionic-pyenv-python
	url = git@github.com:ci-and-cd/docker-bionic-pyenv-python.git
[submodule "docker-bionic-rvm-ruby"]
	path = docker-bionic-rvm-ruby
	url = git@github.com:ci-and-cd/docker-bionic-rvm-ruby.git
[submodule "docker-java-8-oracle"]
	path = docker-java-8-oracle
	url = git@github.com:ci-and-cd/docker-java-8-oracle.git
[submodule "docker-nexus3"]
	path = docker-nexus3
	url = git@github.com:ci-and-cd/docker-nexus3.git
[submodule "docker-nginx-proxy"]
	path = docker-nginx-proxy
	url = git@github.com:ci-and-cd/docker-nginx-proxy.git
[submodule "docker-nix"]
	path = docker-nix
	url = git@github.com:ci-and-cd/docker-nix.git
[submodule "docker-sonarqube"]
	path = docker-sonarqube
	url = git@github.com:ci-and-cd/docker-sonarqube.git
[submodule "docker-waitforit"]
	path = docker-waitforit
	url = git@github.com:ci-and-cd/docker-waitforit.git
[submodule "docker-bionic-docker"]
	path = docker-bionic-docker
	url = git@github.com:ci-and-cd/docker-bionic-docker.git
[submodule "docker-java-accessories"]
	path = docker-java-accessories
	url = git@github.com:ci-and-cd/docker-java-accessories.git
[submodule "docker-bionic-rust"]
	path = docker-bionic-rust
	url = git@github.com:ci-and-cd/docker-bionic-rust.git
[submodule "docker-bionic-graphviz"]
	path = docker-bionic-graphviz
	url = git@github.com:ci-and-cd/docker-bionic-graphviz.git
[submodule "docker-java-oracle"]
	path = docker-java-oracle
	url = git@github.com:ci-and-cd/docker-java-oracle.git
[submodule "docker-gitlab"]
	path = docker-gitlab
	url = git@github.com:ci-and-cd/docker-gitlab.git
[submodule "docker-jenkins"]
	path = docker-jenkins
	url = git@github.com:ci-and-cd/docker-jenkins.git
[submodule "docker-bionic-cibase"]
	path = docker-bionic-cibase
	url = git@github.com:ci-and-cd/docker-bionic-cibase.git
[submodule "docker-jenkins-jnlp-slave"]
	path = docker-jenkins-jnlp-slave
	url = git@github.com:ci-and-cd/docker-jenkins-jnlp-slave.git
[submodule "docker-jenkins-swarm-slave"]
	path = docker-jenkins-swarm-slave
	url = git@github.com:ci-and-cd/docker-jenkins-swarm-slave.git
[submodule "docker-gitlab-runner"]
	path = docker-gitlab-runner
	url = git@github.com:ci-and-cd/docker-gitlab-runner.git
[submodule "docker-linuxbrew"]
        path = docker-linuxbrew
        url = git@github.com:ci-and-cd/docker-linuxbrew.git
[submodule "docker-redis"]
	path = docker-redis
	url = git@github.com:ci-and-cd/docker-redis.git
[submodule "docker-rabbitmq"]
	path = docker-rabbitmq
	url = git@github.com:cloud-ready/docker-rabbitmq.git
[submodule "docker-mariadb"]
	path = docker-mariadb
	url = git@github.com:cloud-ready/docker-mariadb.git
[submodule "docker-mysql"]
	path = docker-mysql
	url = git@github.com:cloud-ready/docker-mysql.git
[submodule "docker-postgres"]
	path = docker-postgres
	url = git@github.com:cloud-ready/docker-postgres.git
[submodule "docker-jupyter"]
	path = docker-jupyter
	url = git@github.com:infra-top/docker-jupyter.git
[submodule "docker-mongodb"]
	path = docker-mongodb
	url = git@github.com:ci-and-cd/docker-mongodb.git
[submodule "docker-elasticsearch2"]
	path = docker-elasticsearch2
	url = git@github.com:ci-and-cd/docker-elasticsearch2.git
[submodule "docker-mac-network"]
	path = docker-mac-network
	url = git@github.com:docker-for-mac/docker-mac-network.git
[submodule "docker-spring-boot-admin"]
	path = docker-spring-boot-admin
	url = git@github.com:cloud-ready/docker-spring-boot-admin.git
	branch = develop
[submodule "docker-cadvisor"]
	path = docker-cadvisor
	url = git@github.com:cloud-ready/docker-cadvisor.git
	branch = develop
[submodule "docker-grafana"]
	path = docker-grafana
	url = git@github.com:cloud-ready/docker-grafana.git
	branch = develop
[submodule "docker-tick-telegraf"]
	path = docker-tick-telegraf
	url = git@github.com:cloud-ready/docker-tick-telegraf.git
	branch = develop
[submodule "docker-tick-chronograf"]
	path = docker-tick-chronograf
	url = git@github.com:cloud-ready/docker-tick-chronograf.git
	branch = develop
[submodule "docker-tick-kapacitor"]
	path = docker-tick-kapacitor
	url = git@github.com:cloud-ready/docker-tick-kapacitor.git
	branch = develop
[submodule "docker-tick-influxdb"]
	path = docker-tick-influxdb
	url = git@github.com:cloud-ready/docker-tick-influxdb.git
	branch = develop
[submodule "docker-prometheus"]
	path = docker-prometheus
	url = git@github.com:cloud-ready/docker-prometheus.git
	branch = develop
[submodule "docker-elk-elasticsearch"]
	path = docker-elk-elasticsearch
	url = git@github.com:ci-and-cd/docker-elk-elasticsearch.git
	branch = develop
[submodule "docker-elk-logstash"]
	path = docker-elk-logstash
	url = git@github.com:ci-and-cd/docker-elk-logstash.git
	branch = develop
[submodule "docker-elk-kibana"]
	path = docker-elk-kibana
	url = git@github.com:ci-and-cd/docker-elk-kibana.git
	branch = develop
[submodule "docker-graylog"]
	path = docker-graylog
	url = git@github.com:cloud-ready/docker-graylog.git
	branch = develop
[submodule "docker-node-exporter"]
	path = docker-node-exporter
	url = git@github.com:cloud-ready/docker-node-exporter.git
	branch = develop
[submodule "docker-sonarqube-plugins"]
	path = docker-sonarqube-plugins
	url = git@github.com:ci-and-cd/docker-sonarqube-plugins.git
	branch = develop
[submodule "docker-java-11-openjdk"]
	path = docker-java-11-openjdk
	url = git@github.com:ci-and-cd/docker-java-11-openjdk.git
	branch = develop
[submodule "docker-java-11-zulu"]
	path = docker-java-11-zulu
	url = git@github.com:ci-and-cd/docker-java-11-zulu.git
	branch = develop
[submodule "docker-service-base-image-java"]
	path = docker-service-base-image-java
	url = git@github.com:ci-and-cd/docker-service-base-image-java.git
	branch = develop
